<!DOCTYPE html>
<html lang="en">

    {{>header}}

    <body>
        {{>navbar}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    {{> sidebar}}
                </div>
                <div class="col-sm-10">
                    <div class="container mt-4">
                        <h3>Agent Details</h3>
                        <br />
                        <div class="row">
                            <div class="col-6">
                                <h5>Basic Details</h5>
                                <br />
                                <form class="mr-4" action="/Agent/{{agent._id}}/updateClient" method="POST">
                                    <input type="hidden" id="_id" name="_id" value="{{agent.client._id}}">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input name="name" type="text" class="form-control" id="name"
                                            value="{{agent.client.name}}">
                                    </div>

                                    <div class="form-group">
                                        <label for="name">Father/Husband's Name</label>
                                        <input name="primaryGuardian" type="text" class="form-control"
                                            id="primaryGuardian" value="{{agent.client.primaryGuardian}}">
                                    </div>

                                    <div class="form-group">
                                        <label for="name">Mother's Name</label>
                                        <input name="motherName" type="text" class="form-control" id="motherName"
                                            value="{{agent.client.motherName}}">
                                    </div>

                                    <div class="form-group">
                                        <label for="inputState">IDType</label>
                                        <select name="IDType" id="IDType" class="form-control">
                                            <option>{{agent.client.IDType}}</option>
                                            <option>Password</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="name">ID Number</label>
                                        <input name="IDNumber" type="text" class="form-control" id="IDNumber"
                                            value="{{agent.client.IDNumber}}">
                                    </div>

                                    <div class="form-group">
                                        <label for="dob">Date of Birth</label>
                                        <input name="dob" type="text" class="form-control" id="dob"
                                            value="{{agent.client.dob}}">
                                    </div>

                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input name="address" type="text" class="form-control" id="address"
                                            value="{{agent.client.address}}">
                                    </div>

                                    <div class="form-group">
                                        <label for="city">City</label>
                                        <input name="city" type="text" class="form-control" id="city"
                                            value="{{agent.client.city}}">
                                    </div>

                                    <div class="form-group">
                                        <label for="subdistrict">Sub District</label>
                                        <input name="subdistrict" type="text" class="form-control" id="subdistrict"
                                            value="{{agent.client.subdistrict}}">
                                    </div>

                                    <div class="form-group">
                                        <label for="district">District</label>
                                        <input name="district" type="text" class="form-control" id="district"
                                            value="{{agent.client.district}}">
                                    </div>

                                    <div class="form-group">
                                        <label for="postOffice">Post Office</label>
                                        <input name="postOffice" type="text" class="form-control" id="postOffice"
                                            value="{{agent.client.postOffice}}">
                                    </div>

                                    <div class="form-group">
                                        <label for="postalCode">Postal Code</label>
                                        <input name="postalCode" type="text" class="form-control" id="postalCode"
                                            value="{{agent.client.postalCode}}">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </form>
                            </div>
                            <div class="col-6">
                                <h5>Account Details</h5>
                                <br />
                                <form class="mr-4" action="/Agent/{{agent._id}}/updateAgent" method="POST">
                                    <input type="hidden" id="_id" name="_id" value="{{agent._id}}">
                                    <div class="form-group">
                                        <label for="mobileNo">Mobile No</label>
                                        <input name="mobileNo" type="text" class="form-control" id="mobileNo"
                                            value="{{agent.mobileNo}}">
                                    </div>

                                    <div class="form-group">
                                        <label for="TLN">Trade Licence Number</label>
                                        <input name="TLN" type="text" class="form-control" id="TLN" value="{{agent.TLN}}">
                                    </div>

                                    <div class="form-group">
                                        <label for="balance">Balance</label>
                                        <input type="text" readonly class="form-control" id="balance"
                                            value="{{agent.balance}}">
                                    </div>

                                    <div class="form-group">
                                        <label for="businessOrganizationName">Business Organisation Name</label>
                                        <input name="businessOrganizationName" type="text" class="form-control" id="businessOrganizationName"
                                            value="{{agent.businessOrganizationName}}">
                                    </div>

                                    <div class="form-group">
                                        <label for="businessAddress">Business Organisation Address</label>
                                        <input name="businessAddress" type="text" class="form-control" id="businessAddress"
                                            value="{{agent.businessAddress}}">
                                    </div>

                                    <button type="submit" class="btn btn-primary">Update</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </body>

</html>