<!DOCTYPE html>
<html lang="en">

    {{>header}}

    <body>
        {{>navbar}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    {{> sidebar}}
                </div>
                <div class="col-sm-10">
                    <div class="container mt-4">
                        <h3>Agent Verification</h3>
                        <br />
                        <h5>Unverified agents</h5>
                        <br />
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">Agent ID</th>
                                    <th scope="col">Client ID</th>
                                    <th scope="col">Mobile No</th>
                                    <th scope="col">Trade Licence Number</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each agents}}
                                <tr>
                                    <th scope="row">{{this._id}}</th>
                                    <td>{{this.client}}</td>
                                    <td>{{this.mobileNo}}</td>
                                    <td>{{this.TLN}}</td>
                                    <td><a class="btn btn-primary" href="/Agent/{{this._id}}/verify">Verify</button>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>