<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>
    {{>navbar}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                {{> sidebar}}
            </div>
            <div class="col-sm-10">
                <div class="container mt-4">
                    <h3>Merchant Details</h3>
                    <br />
                    <div class="row">
                        <div class="col-6">
                            <h5>Basic Details</h5>
                            <br />
                            <form class="mr-4" action="/Merchant/{{merchant._id}}/updateClient" method="POST">
                                <input type="hidden" id="_id" name="_id" value="{{merchant.client._id}}">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input name="name" type="text" class="form-control" id="name"
                                        value="{{merchant.client.name}}">
                                </div>

                                <div class="form-group">
                                    <label for="name">Father/Husband's Name</label>
                                    <input name="primaryGuardian" type="text" class="form-control" id="primaryGuardian"
                                        value="{{merchant.client.primaryGuardian}}">
                                </div>

                                <div class="form-group">
                                    <label for="name">Mother's Name</label>
                                    <input name="motherName" type="text" class="form-control" id="motherName"
                                        value="{{merchant.client.motherName}}">
                                </div>

                                <div class="form-group">
                                    <label for="inputState">IDType</label>
                                    <select name="IDType" id="IDType" class="form-control">
                                        <option>{{merchant.client.IDType}}</option>
                                        <option>Password</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="name">ID Number</label>
                                    <input name="IDNumber" type="text" class="form-control" id="IDNumber"
                                        value="{{merchant.client.IDNumber}}">
                                </div>

                                <div class="form-group">
                                    <label for="dob">Date of Birth</label>
                                    <input name="dob" type="text" class="form-control" id="dob"
                                        value="{{merchant.client.dob}}">
                                </div>

                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input name="address" type="text" class="form-control" id="address"
                                        value="{{merchant.client.address}}">
                                </div>

                                <div class="form-group">
                                    <label for="city">City</label>
                                    <input name="city" type="text" class="form-control" id="city"
                                        value="{{merchant.client.city}}">
                                </div>

                                <div class="form-group">
                                    <label for="subdistrict">Sub District</label>
                                    <input name="subdistrict" type="text" class="form-control" id="subdistrict"
                                        value="{{merchant.client.subdistrict}}">
                                </div>

                                <div class="form-group">
                                    <label for="district">District</label>
                                    <input name="district" type="text" class="form-control" id="district"
                                        value="{{merchant.client.district}}">
                                </div>

                                <div class="form-group">
                                    <label for="postOffice">Post Office</label>
                                    <input name="postOffice" type="text" class="form-control" id="postOffice"
                                        value="{{merchant.client.postOffice}}">
                                </div>

                                <div class="form-group">
                                    <label for="postalCode">Postal Code</label>
                                    <input name="postalCode" type="text" class="form-control" id="postalCode"
                                        value="{{merchant.client.postalCode}}">
                                </div>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                        </div>
                        <div class="col-6">
                            <h5>Account Details</h5>
                            <br />
                            <form class="mr-4" action="/Merchant/{{merchant._id}}/updateMerchant" method="POST">
                                <input type="hidden" id="_id" name="_id" value="{{merchant._id}}">
                                <div class="form-group">
                                    <label for="mobileNo">Mobile No</label>
                                    <input name="mobileNo" type="text" class="form-control" id="mobileNo"
                                        value="{{merchant.mobileNo}}">
                                </div>

                                <div class="form-group">
                                    <label for="TLN">Trade Licence Number</label>
                                    <input name="TLN" type="text" class="form-control" id="TLN"
                                        value="{{merchant.TLN}}">
                                </div>

                                <div class="form-group">
                                    <label for="balance">Balance</label>
                                    <input type="text" readonly class="form-control" id="balance"
                                        value="{{merchant.balance}}">
                                </div>

                                <div class="form-group">
                                    <label for="businessOrganizationName">Business Organisation Name</label>
                                    <input name="businessOrganizationName" type="text" class="form-control"
                                        id="businessOrganizationName" value="{{merchant.businessOrganizationName}}">
                                </div>

                                <div class="form-group">
                                    <label for="businessAddress">Business Organisation Address</label>
                                    <input name="businessAddress" type="text" class="form-control" id="businessAddress"
                                        value="{{merchant.businessAddress}}">
                                </div>
                                
                                <div class="form-group">
                                    <label for="businessType">Business Type</label>
                                    <input name="businessType" type="text" class="form-control" id="businessType"
                                        value="{{merchant.businessType}}">
                                </div>

                                <div class="form-group">
                                    <label for="businessEmail">Business Email</label>
                                    <input name="businessEmail" type="text" class="form-control" id="businessEmail"
                                        value="{{merchant.businessEmail}}">
                                </div>

                                <div class="form-group">
                                    <label for="webAddress">Web Address</label>
                                    <input name="webAddress" type="text" class="form-control" id="webAddress"
                                        value="{{merchant.webAddress}}">
                                </div>

                                <div class="form-group">
                                    <label for="averageMonthlyPayment">Average Monthly Payment</label>
                                    <input name="averageMonthlyPayment" type="text" class="form-control" id="averageMonthlyPayment"
                                        value="{{merchant.averageMonthlyPayment}}">
                                </div>

                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</body>

</html>